Source: eviacam
Section: x11
Priority: optional
Maintainer: Cesar Mauri <cesar@crea-si.com>
Uploaders: M.Angel Juan <m.angel.juan@gmail.com>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, Juanma Navarro <juanma1980@gmail.com>, Juan Ramon Pelegrina <juapesai@hotmail.com>
Build-Depends: llxsrchelper,debhelper (>= 9),
               dh-autoreconf,
               libgtk-3-dev,
               libgtk2.0-dev,
               libopencv-dev (>= 2.0),
               libpng-dev,
               libv4l-dev,
			   libwxgtk3.0-gtk3-dev,
               libxext-dev,
               libxtst-dev,
               po-debconf
Standards-Version: 4.1.4
Homepage: http://viacam.org

Package: eviacam
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, opencv-data
Recommends: wx3.0-i18n
Description: webcam based mouse emulator
 Enable Viacam (aka eViacam) is a mouse replacement program that moves
 the pointer as you move your head. It works on a standard computer
 equipped with a web camera. No additional hardware is required. Based
 on the award winning Facial Mouse software.
